SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=transfers
DB_SSLMODE=disable
DB_MAX_OPEN=100
DB_MAX_IDLE=50
DB_MAX_LIFETIME=5m
DB_MAX_IDLE_TIME=1m

LOG_LEVEL=info

TRANSFER_MAX_RETRIES=3
